@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "CerealBook";
	src: url("STATIC/fonts/AirbnbCereal-Book.ttf");
}

@font-face {
	font-family: "CerealLight";
	src: url("STATIC/fonts/AirbnbCereal-Light.ttf");
}

@font-face {
	font-family: "CerealMedium";
	src: url("STATIC/fonts/AirbnbCereal-Medium.ttf");
}

@font-face {
	font-family: "CerealBold";
	src: url("STATIC/fonts/AirbnbCereal-Bold.ttf");
}

@font-face {
	font-family: "CerealExtraBold";
	src: url("STATIC/fonts/AirbnbCereal-ExtraBold.ttf");
}

body {
	font-family: "CerealBook", sans-serif;
	background-color: #121212;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	transition: all 0.3s ease 0s, left 0.3s ease 0s;
}

.sublinks {
	@apply text-white;
}

.sublinks:hover {
	@apply text-blue-400;
}

body {
	opacity: 1;
	transition: 1s opacity;
}

body.fade {
	opacity: 0;
	transition: none;
}

#noscroll {
	font-family: "CerealBook", sans-serif;
	background-color: #121212;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	z-index: -1;
}

/*Link animation*/
#link {
	color: #edf2f7;
	text-decoration: none;
	display: inline-block;
	position: relative;
}

#link:after {
	background: none repeat scroll 0 0 transparent;
	bottom: 2px;
	content: "";
	display: block;
	height: 2px;
	left: 50%;
	position: absolute;
	background: #edf2f7;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}
#link:hover:after {
	width: 100%;
	left: 0;
}
